USE [master]
GO
/****** Object:  Database [HarmanDB]    Script Date: 11/29/2020 5:34:39 AM ******/
CREATE DATABASE [HarmanDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HarmanDB_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HarmanDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HarmanDB_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HarmanDB.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HarmanDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HarmanDB]
GO
/****** Object:  Table [dbo].[CustomerData]    Script Date: 11/29/2020 5:34:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FrstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
 CONSTRAINT [PK_CustomerData] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieData]    Script Date: 11/29/2020 5:34:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NULL,
	[Plot] [varchar](50) NULL,
	[Genre] [varchar](50) NULL,
	[Year] [int] NULL,
	[Copies] [int] NULL,
	[Ratting] [varchar](50) NULL,
	[Price] [varchar](50) NULL,
 CONSTRAINT [PK_MovieData] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalData]    Script Date: 11/29/2020 5:34:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FrstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[MovieTitle] [varchar](50) NULL,
	[BookingDate] [varchar](50) NULL,
	[ReturnDate] [varchar](50) NULL,
 CONSTRAINT [PK_RentalData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CustomerData] ON 

INSERT [dbo].[CustomerData] ([id], [FrstName], [LastName], [Address], [Phone]) VALUES (1, N'sa', N'vo', N'nz', N'1234')
INSERT [dbo].[CustomerData] ([id], [FrstName], [LastName], [Address], [Phone]) VALUES (2, N'sa', N'vo', N'nz', N'1234')
SET IDENTITY_INSERT [dbo].[CustomerData] OFF
SET IDENTITY_INSERT [dbo].[MovieData] ON 

INSERT [dbo].[MovieData] ([id], [Title], [Plot], [Genre], [Year], [Copies], [Ratting], [Price]) VALUES (1, N'qqw', N'qww', N'12', 2012, 2, N'4.5', N'4')
INSERT [dbo].[MovieData] ([id], [Title], [Plot], [Genre], [Year], [Copies], [Ratting], [Price]) VALUES (2, N'2.0', N'Serious', N'seriour', 2019, 2, N'2.0', N'5')
SET IDENTITY_INSERT [dbo].[MovieData] OFF
SET IDENTITY_INSERT [dbo].[RentalData] ON 

INSERT [dbo].[RentalData] ([ID], [FrstName], [LastName], [MovieTitle], [BookingDate], [ReturnDate]) VALUES (1, N'sa', N'vo', N'qqw', N'11/28/2020', N'11/28/2020')
SET IDENTITY_INSERT [dbo].[RentalData] OFF
USE [master]
GO
